 * {
    box-sizing: border-box;

}

html {
    font-size: 1vw;
}

body {
    font-family: 'Muli', sans-serif;
    text-align: center;    
    color:#1D1E18;
}

header {
    width:100%;
    height:55px;
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    margin:0px;
    background-color:rgba(255, 255, 255, 0.7);    
}

h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 3rem;
    float: left;
    margin:0;
    margin-top: 10px;
    margin-left: 10px;
    color:white;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav li {
    font-family: 'Muli', sans-serif;
    padding: 10px;
    font-size: 1.5rem;
}

header a:link {
    color:#1D1E18;
    
}

header a:visited {
    color: #CCDBDC;
}

.dropdown {
    display: none;
}

.headline {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 80px;
    padding: 20px;
    background-color: #ffffff;
    font-size: 1.7rem;
    box-shadow: 8px 8px 5px grey;

}  

.main-image {
    width: 100%;
    padding:30px;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.projects {
    display: block;
    margin-top:70px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1D1E18;
    color: white;
    font-size: 1.8rem;
    box-shadow: 8px 8px 5px grey;
}

.projects h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 3.5rem;
    color: #CCDBDC;

}

.projects h3 {
    color: #CCDBDC;

}

.project-photo {
    width: 100%;
    padding:30px;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.project-photo:hover {
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); 
}

.project-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.project-links li {
    color: white;
    padding: 10px
}

.project-links a:visited {
    color:#CCDBDC;
}

.about-me {
    display: block;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-top: 20px;
    padding-bottom:20px;
    font-size: 1.8rem;
    background-color:#D7DEDC;
    box-shadow: 8px 8px 5px grey;

}

.about-me h2 {
    font-family: 'Philosopher', sans-serif;

}

.about-me-photo {
    width: 100%;
    padding: 30px;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.about-me-text {
    padding: 10px;
}

footer li {
    font-size: 4rem;
    
}

footer a:link {
    color: black;
}

footer a:visited {
    color:black;
}


.contact-page {
    text-align: center;
    margin-top: 100px;
    display:flex;
    flex-direction: column;
}

.contact-text {
    color:black;
    text-align: center;
    font-size: 4rem;
}

.contact {
    color: black;
    font-size:2.5rem;
}

.contact-page li {
    font-size: 5.5rem;
}

.contact-page a:link {
    color:black;
}

.contact-page a:visited {
    color:black;
}

.footer-links {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    
}


@media screen and (min-width: 320px) {

}


@media screen and (min-width: 765px) {

    
}


@media screen and (min-width: 1000px){

}




