 * {
    box-sizing: border-box;

}

html {
    font-size: 1.2vw;
}

body {
    font-family: 'Muli', sans-serif;
    text-align: center;    
    color:#1D1E18;
}

header {
    width:100%;
    height:62px;
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    margin:0px;
    background-color:rgba(0, 0, 0, 0.711);    
}

h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 3rem;
    float: left;
    margin:0;
    margin-top: 10px;
    margin-left: 10px;
    color:white;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav li {
    font-family: 'Muli', sans-serif;
    padding: 10px;
    font-size: 1.8rem;
    color:white;
}

header a:link {
    color:white;
    
}

header a:visited {
    color: white;
}

header a:hover {
    cursor: pointer;
    background: rgba(212, 81, 19, 0.711);
	text-decoration: none;
	color: white;
	border-radius: 4px;
	transform: scale(1.05) rotate(-1deg);

}

.headline {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 150px;
    padding: 20px;
    background-color: #ffffff;
    font-size: 1.7rem;
    box-shadow: 8px 8px 5px grey;

}  

.main-page {
    font-family: 'Philosopher', sans-serif;
    background-color: rgba(212, 81, 19, 0.711);
    margin-left:12rem;
    margin-right:12rem;
    color:white;
    border-radius:4px;
}

.main-image {
    width: 100%;
    padding:30px;
}

.projects {
    display: flex;
    flex-direction: column;
    margin-top:75px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
    color: #1D1E18;
    font-size: 2rem;
    box-shadow: 8px 8px 5px grey;
}

.projects h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 3.5rem;
    color: white;
    background-color:rgba(212, 81, 19, 0.711);
    margin-left:19rem;
    margin-right:19rem;
    border-radius: 5px;
}

.projects h3 {
    color: #1D1E18;
    text-decoration:underline dotted;
    text-decoration-color: rgba(212, 81, 19, 0.711);;

}

.project-photo {
    width: 100%;
    padding:30px;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    border-radius: 4px;
}

.project-photo:hover {
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); 
}

.description {
    padding:20px;
}

.project-links li{
    font-family: 'Muli', sans-serif;
    color:white;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

 button {
    background-color:black;
    border-radius: 4px;
    color: white;
    padding: 20px;
    font-size: 2rem;
}

.project-links a:visited {
    color:white;
}

 button:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color:#D45113;
}

.about-me-div {
    display: flex;
    margin-top: 70px;
    margin-left: auto;
    margin-right:auto;
    flex-direction:column;
    width: 80%;
    padding-top: 20px;
    padding-bottom:20px;
    font-size: 2.0rem;
    background-color:#ffffff;
    box-shadow: 8px 8px 5px grey;
}

.about-me h2 {
    font-family: 'Philosopher', sans-serif;
    color: white;
    background-color:rgba(212, 81, 19, 0.711);
    margin-left:22rem;
    margin-right:22rem;
    border-radius: 5px;

}

.about-me-photo {
    width: 100%;
    padding-left:20px;
    padding-right:20px;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.about-me-text {
    padding: 10px;
}

footer li {
    font-size: 4rem;
    
}

footer a:link {
    color: black;
}

footer a:visited {
    color:black;
}

footer a:hover {
    cursor: pointer;

}


.contact-page {
    margin-top: 150px;
    display:flex;
    margin-left: auto;
    margin-right:auto;
    flex-direction: column;
    box-shadow: 8px 8px 5px grey;

}

.contact-text {
    text-align: center;
    font-size: 4rem;
    font-family: 'Philosopher', sans-serif;
    color: white;
    background-color:rgba(212, 81, 19, 0.711);
    margin-left:22rem;
    margin-right:22rem;
    border-radius: 5px;

}

.contact {
    color: black;
    font-size:2.5rem;
}



.contact-page li {
    font-size: 5.5rem;
}

.contact-page a:link {
    color:black;
}

.contact-page a:visited {
    color:black;
}

.contact-page a:hover {
    cursor: pointer;
    transform: scale(1.1);

}

.footer-links {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    
}




